@import '../../scss/base.scss';
body,
html {
    background: #fff;
}

.header {
    background: #292929;
    text-align: center;
    color: #c79f62;
    font-size: 15px;
    font-weight: bold;
    padding: 75px 0;
    // margin: 10px 0 0 0;
    .header-title {
        font-size: 20px;
    }
}

.title {
    border-bottom: 1px solid #bbb;
    color: #292929;
    font-size: 16px;
    font-weight: bold;
    line-height: 45px;
    padding: 0 15px 0px 15px;
    margin: 0 10px;
}

.content {
    padding: 0 25px;
    .content-item {
        display: flex;
        justify-content: flex-start;
        font-size: 13px;
        color: #393939;
        padding: 15px 0;
        .content-title {
            color: #aaa;
            font-size: 14px;
            font-weight: bold;
            padding-right: 30px;
        }
        .content-cont {
            flex: 1;
            font-size: 12px;
            color: #393939;
            line-height: 20px;
        }
    }
}

.tip {
    font-size: 10px;
    color: #696969;
    padding: 30px 15px 50px 15px;
}

.submit {
    padding: 0 15px;
}

// .discount {
//     display: flex;
//     position: relative;
//     justify-content: flex-start;
//     background: #fff;
//     padding: 15px 0;
//     .discount-flex {
//         flex: 1;
//         display: flex;
//         justify-content: flex-start;
//     }
//     .discount-flex:first-child {
//         border-right: 1px solid #c79f62;
//     }
//     .discount-icon {
//         width: 41px;
//         height: 41px;
//         display: inline-block;
//         margin: 0 10px 0 30px;
//     }
//     .discount-cont {
//         flex: 1;
//         font-size: 13px;
//         color: #393939;
//         line-height: 160%;
//         display: inline-block;
//         // margin-top: 4px;
//         p {
//             font-size: 10px;
//             color: #aaa;
//             display: block;
//         }
//     }
//     .discount-line {
//         border-right: 1px solid #c79f62;
//     }
// }
.weui-cells {
    margin-top: 0!important;
}

.checkbox .weui-cells:before {
    border-top: 0!important;
}

.checkbox .weui-cells:after {
    border-bottom: 0!important;
}