@import '../../scss/base.scss';
body,
html {
    background: #f4f3f3;
    padding: 0 0 40px 0;
}

.banner {
    height: 430px;
    overflow: hidden;
    padding: 10px 10px 0 10px;
}

.item {
    border-bottom: 1px solid #979797;
    display: flex;
    justify-content: flex-start;
    padding: 20px 0px;
    margin: 0 15px;
    .left-text {
        flex: 1;
        color: #898989;
        font-size: 13px;
        line-height: 19px;
        padding-right: 20px;
        .title {
            padding: 21px 0;
            font-size: 15px;
            font-weight: bold;
            color: #000;
        }
    }
    .right-img {
        width: 190px;
        height: 134px;
    }
    .left-img {
        width: 190px;
        height: 134px;
    }
    .right-text {
        flex: 1;
        color: #898989;
        font-size: 13px;
        line-height: 19px;
        padding-left: 20px;
        .title {
            padding: 21px 0;
            font-size: 15px;
            font-weight: bold;
            color: #000;
        }
    }
}