* {
    margin: 0;
    padding: 0;
}

table {
    border: 0;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

table td {
    padding: 0;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix:after {
    display: block;
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden;
}

// body {
// 	position: relative;
// 	font-size: 0.14rem;
// 	background-color: #fff;
// 	font-family: 'PingFangSC-Regular';
// 	color: #333;
// }
ul {
    list-style: none;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

button {
    border: none;
    cursor: pointer;
}

button:visited {
    border: none;
    outline: none;
}

img {
    border: none;
}

input,
input:active,
input:focus {
    outline: none;
    border: none;
    border-radius: 0;
}

$baseFontSize: 100px !default;
$baseFontSize2x: 200px !default;
@function pxToRem($px) {
    @return $px / $baseFontSize * 1rem;
}

@function pxToRem2x($px) {
    @return $px / $baseFontSize2x * 1rem;
}

.weui-cells {
    font-size: 14px !important;
}

.weui-label {
    color: #898989;
}
